body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2d8a74;
}

.logout-button {
    padding: 8px 15px;
    background-color: #db4437;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c1351d;
}

.content {
    padding: 20px;
    background-color: #c8e6c9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.type-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.type-selection,
.status-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.type-selection label,
.status-selection label {
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
    margin-left: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea,
select,
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.save-button,
.cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    width: 48%;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: #45a049;
}

.cancel-button:hover {
    background-color: #d32f2f;
}

@media screen and (max-width: 780px) {
    .content {
        padding: 15px;
    }

    .form-container {
        padding: 25px;
    }
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #2d8a74;
    color: white;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 460px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logout-button {
        margin-top: 10px;
    }

    .save-button,
    .cancel-button {
        width: auto;
        margin-top: 10px;
    }

    .type-selection,
    .status-selection {
        flex-direction: column;
    }

    .type-selection label,
    .status-selection label {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 360px) {
    .content,
    .form-container {
        padding: 10px;
    }

    .save-button,
    .cancel-button {
        padding: 8px 15px;
        font-size: 14px;
    }
}
