body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2d8a74;
}

.dashboard {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.user-info {
    margin-bottom: 20px;
}

.user-info h2, .user-info p {
    margin: 5px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar a, .navbar button {
    text-decoration: none;
    padding: 8px 12px;
    margin: 5px;
    background-color: #2d8a74;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar a:hover, .navbar button:hover {
    background-color: #24976f;
}

.blog-list {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
}

.blog-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.blog-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.blog-content {
    padding: 15px;
}

.blog-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #2d8a74;
}

.blog-summary {
    margin: 0;
    font-size: 14px;
}

.blog-actions {
    margin-top: 10px;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 480px){
    .dashboard {
        width: 90%;
    }

    .navbar {
        flex-direction: column;
        align-items: center; /* Center the buttons */
    }

    .navbar a, .navbar button {
        width: 80%; /* Make buttons smaller */
        margin: 5px 0;
    }
}

